terraform {
  required_providers {
    azurerm = {
      source  = "hashicorp/azurerm"
      version = "~>3.0"
    }
  }
  backend "local" {
  //   # Please update based on baseline
  //   # path = environment/sit/terraform.tfstate
  //   # path = environment/uat/terraform.tfstate
  //   # path = environment/prod/terraform.tfstate
     path = environment/sit/terraform.tfstate
  }
}

provider "azurerm" {
  features {
    key_vault {
      purge_soft_delete_on_destroy    = true
      recover_soft_deleted_key_vaults = true
    }
  }
  subscription_id = "<replace>"
  tenant_id       = "<replace>"
  client_secret   = "<replace>"
  client_id       = "<replace>"
}
